/* Import Roboto Condensed */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --rocket-default-font: "Noto Sans", sans-serif;
    --rocket-header-font: "Roboto Condensed", sans-serif;
    --rocket-default-font-size: calc(8px + 1vmin);
    --rocket-h1-font-size: calc(12px + 4vmin);
    --rocket-h2-font-size: calc(10px + 3.5vmin);

    --rocket-default-font-weight: 300;
    --rocket-h1-font-weight: bold;
    --rocket-h2-font-weight: bold;

    --rocket-titlebar-color: rgb(64, 0, 167);
    --rocket-titlebar-font-color: white;
    --rocket-titlebar-link-font-size: 3vmin;
}

body {
    margin: 0;
}

* {
    font-family: var(--rocket-default-font);
    font-optical-sizing: auto;
    font-weight: var(--rocket-default-font-weight);
    font-size: var(--rocket-default-font-size);
    font-style: normal;
}

.titlebar {
    background: var(--rocket-titlebar-color);
    overflow-x: scroll;
    overflow-y: hidden;
    color: var(--rocket-titlebar-font-color);
    
    display: flex;
    align-items: center;
}

.titlebar h1 {
    font-family: var(--rocket-header-font);
    font-size: var(--rocket-h1-font-size);
    font-weight: var(--rocket-h1-font-weight);
    margin: 1vh 2vw;
}

.titlebar a {
    margin-left: 1vw;
    margin-right: 1vw;
    color: var(--rocket-titlebar-font-color);
    font-weight: bold;
    font-family: var(--rocket-header-font);
    font-size: var(--rocket-titlebar-link-font-size);
    text-decoration: none;
}

.titlebar a:visited {
    color: var(--rocket-titlebar-font-color);
    text-decoration: none;
}

.titlebar a:hover {
    color: var(--rocket-titlebar-font-color);
    text-decoration: none;
}

.titlebar a:active {
    color: var(--rocket-titlebar-font-color);
    text-decoration: none;
}


/* CONTENT DIV */

.rocket-content {
    margin: .5vh 2vw;
}

.rocket-content h2 {
    font-weight: var(--rocket-h2-font-weight);
    font-size: var(--rocket-h2-font-size);
}


/* ### SECTIONS ### */

div.section {
    --section-width: 60%;

    margin: 0 auto;
    width: var(--section-width);
    min-width: 700px;
    display: flex;
    flex-direction: column;
}

div.section .sectiontitle {
    margin: 3vh auto;
    font-family: var(--rocket-header-font);
    font-size: var(--rocket-h2-font-size);
    font-weight: var(--rocket-h2-font-weight);
}

div.section .sectioncontent {
    --grid-layout: auto;
    display: grid;
    grid-template-columns: var(--grid-layout);
}

div.section .sectioncontent * {
    margin: auto;

    --col-start: auto;
    --col-end: auto;
    --row-start: auto;
    --row-end: auto;

    grid-column-start: var(--col-start);
    grid-column-end: var(--col-end);
    grid-row-start: var(--row-start);
    grid-row-end: var(--row-end);
}
